{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Credits:</h1>
    <h2>ICONS</h2>
    <ul>
        <li>
            <a target="_blank" href="https://icons8.com/icon/IVlCJgXg1RYx/add-user-male">Add User</a>    
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/24336/login-rounded">Login</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/GbzCtg4y2X3X/log-out">Log Out</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/ckaioC1qqwCu/male-user">User</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
    </ul>
    <h2>BACKGROUND PHOTOS</h2>
    <ul>
        <li>
            Photo by <a href="https://unsplash.com/@momentance?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">SwapnIl Dwivedi</a> 
            on <a href="https://unsplash.com/s/photos/craft?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
        <li>
            Photo by <a href="https://unsplash.com/@austin__ramsey?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Austin Ramsey</a> 
            on <a href="https://unsplash.com/s/photos/craft?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
        <li>
            Photo by <a href="https://unsplash.com/@nickkarvounis?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nick Karvounis</a> 
            on <a href="https://unsplash.com/s/photos/craft?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
        <li>
            Photo by <a href="https://unsplash.com/@eliomendes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Elio Santos</a> 
            on <a href="https://unsplash.com/s/photos/craft?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
        <li>
            Photo by <a href="https://unsplash.com/@cytonn_photography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Cytonn Photography</a> 
            on <a href="https://unsplash.com/s/photos/typing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
        <li>
            Photo by <a href="https://unsplash.com/@jonathanbean?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jonathan Bean</a> 
            on <a href="https://unsplash.com/s/photos/blacksmith?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </li>
    </ul>
</div>
{% endblock content %}
    
