{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Credits:</h1>
    <ul>
        <li>
            <a target="_blank" href="https://icons8.com/icon/IVlCJgXg1RYx/add-user-male">Add User</a>    
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/24336/login-rounded">Login</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/GbzCtg4y2X3X/log-out">Log Out</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/ckaioC1qqwCu/male-user">User</a> 
                icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
    </ul>
</div>
{% endblock content %}
    
