{% extends 'base.html' %}


{% block content %}
    <div class="text-center">
        <h1>Welcome to SKID</h1>
        <h2>Where Skills and Ideas Connect</h2>
        <h3 class="border-bottom mb-4"></h3>
        <p>
            SKID is a place for people with skills to connect with people with ideas and vice-versa.<br>
            Using SKID is easy:
        </p>
        <ol>
            <li style="list-style-position: inside;">Sign up with username and password</li>
            <li style="list-style-position: inside;">Browse the directory of users or ideas</li>
            <li style="list-style-position: inside;">Connect and create!</li>
        </ol> 
    </div>
{% endblock content %}
    