{% extends 'base.html' %}


{% block content %}
    <div class="text-center">
        <h1>Welcome to SKID</h1>
        <h2>Where Skills and Ideas Connect</h2>
        <h3 class="border-bottom mb-4"></h3>
        <p>
            SKID is a place for people with skills to connect with people with ideas and vice-versa.<br>
            Using SKID is easy:
            <ol>
                <li>Sign up with username and password</li>
                <li>Browse the directory of users or ideas</li>
                <li>Connect and create!</li>
            </ol> 
        </p>
    </div>
{% endblock content %}
    