{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
    <div class="container">
        <h3>{{ idea.title }}</h3>
        <h5 class="text-muted">by, <a href="{% url 'directory:user_detail' idea.author.id %}" 
            style="text-decoration: none;">{{ idea.author }}</a>
        </h5>
        
        <div class="container">
            Skills:
            {% for skill in idea.skills.all %}
                <a href="{% url 'directory:idea_skill' skill.id %}" 
                    class="badge bg-primary" style="text-decoration: none;">
                {{ skill }}
                </a>
            {% endfor %}
            <br>
            Materials:
            {% for material in idea.materials.all %}
                <a href="{% url 'directory:idea_material' material.id %}" 
                    class="badge bg-primary" style="text-decoration: none;">
                {{ material }}
                </a>
            {% endfor %}
            <br>
            Type of Work:
            {% for type in idea.type_of_work.all %}
                <a href="{% url 'directory:idea_work_type' type.id %}" 
                    class="badge bg-primary" style="text-decoration: none;">
                {{ type }}
                </a>
            {% endfor %}
        </div>

        <div class="spacer"></div>
        <p class="text-muted small">Published: {{ idea.published }} | Updated: {{ idea.updated }}</p>
        <div class="border-bottom mb-4"></div>

        <p class="word-wrap" style="width: 80rem;"> {{ idea.text | linebreaks }}</p>
        <div class="spacer"></div>
        <a href="{% url 'directory:ideas' %}" class="btn btn-primary">Go Back</a>
        <div class="spacer"></div>

        
        {% if comments %}
        <div class="container">
            <div class="col-md-8 card mb-4 mt-3">
                <div class="card-body">
                <h4 class="">COMMENTS ({{ comments.count }})</h4>
                {% for comment in comments %}
                <div style="padding: 5px;">
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'directory:user_detail' comment.commenter.id %}" 
                            style="text-decoration: none;">{{ comment.commenter }}</a>
                        <span class="text-muted small">{{ comment.created_on }}</span>
                        </div>
                        <div class="card-text" style="padding: 5px 0px 0px 10px;">
                        {{ comment.text | linebreaks }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
            
        <div class="container">
            <div class="col-md-8 card mb-4 mt-3">
                <div class="card-body">
                <h4>Leave a Comment</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-primary" type="submit" value="Post">
                </form>
                </div>
            </div>
        </div>
    </div>
    
{% else %}
    <div class="container">
        <h5>Must be logged in to view this page.</h5>
    </div>
{% endif %}
    

{% endblock content %}
    