{% extends 'base.html' %}


{% block content %}
<div>
    <h1>Directory of Ideas</h1>

    {% if skill_name %}
        <h2>Skill: {{ skill_name }}</h2>

        {% for idea in ideas %}
            <h4>
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>, by {{ idea.username }}
            </h4>
        {% endfor %}

    {% elif material_name %}
        <h2>Material: {{ material_name }}</h2>
        
        {% for idea in ideas %}
            <h4>
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>, by {{ idea.username }}
            </h4>
        {% endfor %}
        
    {% elif type_name %}
        <h2>Type of Work: {{ type_name }}</h2>

        {% for idea in ideas %}
            <h4>
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>, by {{ idea.username }}
            </h4>
        {% endfor %}

    {% else %}
        <h2>All Ideas</h2>
    {% endif %}

    <div class="container">
        {% for idea in idea_list %}
            <h4>
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>, by {{ idea.username }}
            </h4>
            <p>
                Skills:
                {% for skill in user.skills.all %} 
                <a href="{% url 'directory:idea_skill' skill.id %}" class="badge text-white bg-primary">{{ skill }}</a> 
                {% endfor %}
            </p>
            <p>
                Materials:
                {% for material in user.materials.all %}
                <a href="{% url 'directory:idea_material' material.id %}" class="badge text-white bg-primary">{{ material }}</a>
                {% endfor %}
            </p>
            <p>
                Type of Work:
                {% for type in user.type_of_work.all %}
                <a href="{% url 'directory:idea_work_type' type.id %}" class="badge text-white bg-primary">{{ type }}</a>
                {% endfor %}
            </p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    