{% extends 'base.html' %}


{% block content %}
    <div>
        <h1>Directory of Users</h1>

        {% if skill_name %}
            <h2>Skill: {{ skill_name }}</h2>

            {% for user in users %}
                <h4>
                    {% if user.business_name %}
                        <a href="{{ user.get_absolute_url }}">{{ user.business_name }}</a>
                    {% else %}
                        <a href="{{ user.get_absolute_url }}">{{ user.last_name }}, {{ user.first_name }}</a>
                    {% endif %}
                </h4>
            {% endfor %}

        {% elif material_name %}
            <h2>Material: {{ material_name }}</h2>
            
            {% for user in users %}
                <h4>
                    {% if user.business_name %}
                        <a href="{{ user.get_absolute_url }}">{{ user.business_name }}</a>
                    {% else %}
                        <a href="{{ user.get_absolute_url }}">{{ user.last_name }}, {{ user.first_name }}</a>
                    {% endif %}
                </h4>
            {% endfor %}
            
        {% elif type_name %}
            <h2>Type of Work: {{ type_name }}</h2>

            {% for user in users %}
                <h4>
                    {% if user.business_name %}
                        <a href="{{ user.get_absolute_url }}">{{ user.business_name }}</a>
                    {% else %}
                        <a href="{{ user.get_absolute_url }}">{{ user.last_name }}, {{ user.first_name }}</a>
                    {% endif %}
                </h4>
            {% endfor %}

        {% else %}
            <h2>All Users</h2>
        {% endif %}

        <div class="container">
            {% for user in user_list %}
                <h4>
                    {% if user.business_name %}
                        <a href="{{ user.get_absolute_url }}">{{ user.business_name }}</a>
                    {% else %}
                        <a href="{{ user.get_absolute_url }}">{{ user.last_name }}, {{ user.first_name }}</a>
                    {% endif %}
                </h4>
                <p>
                    Skills:
                    {% for skill in user.skills.all %} 
                    <a href="{% url 'directory:skill' skill.id %}" class="badge text-white bg-primary">{{ skill }}</a> 
                    {% endfor %}
                </p>
                <p>
                    Materials:
                    {% for material in user.materials.all %}
                    <a href="{% url 'directory:material' material.id %}" class="badge text-white bg-primary">{{ material }}</a>
                    {% endfor %}
                </p>
                <p>
                    Type of Work:
                    {% for type in user.type_of_work.all %}
                    <a href="{% url 'directory:work_type' type.id %}" class="badge text-white bg-primary">{{ type }}</a>
                    {% endfor %}
                </p>
                
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    