{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
    <div>
        <h1>{{ profile.user_id.first_name }} {{ profile.user_id.last_name }}</h1>
        <ul>
            {% if profile.business_name %}<li>Business Name: {{ profile.business_name }}</li>{% endif %}
            <li>Email: {{ profile.email_public }}</li>
            <li>Phone: {{ profile.phone_number }}</li>
            <li>
                Address:<br>
                {{ profile.address }}<br>
                {{ profile.state_province }}<br> 
                {{ profile.city }}<br>
                {{ profile.zip_code }}
                {{ profile.country }}<br>
            </li>
            <li>Bio: {{ profile.about }}</li>
            <li>
                Skills:
                {% for skill in profile.skills.all %} 
                <a href="{% url 'directory:user_skill' skill.id %}" class="badge text-white bg-primary">{{ skill }}</a>
                {% endfor %}
            </li>
            <li>
                Materials:
                {% for material in profile.materials.all %}
                <a href="{% url 'directory:user_material' material.id %}" class="badge text-white bg-primary">{{ material }}</a>
                {% endfor %}
            </li>
            <li>
                Type of Work:
                {% for type in profile.type_of_work.all %}
                <a href="{% url 'directory:user_work_type' type.id %}" class="badge text-white bg-primary">{{ type }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% else %}
    <div class="container">
        <h5>Must be logged in to view this page.</h5>
    </div>
{% endif %}
    

{% endblock content %}
    