{% extends 'base.html' %}


{% block content %}
    <div>
        <h1>{{ sud.first_name }} {{ sud.last_name }}</h1>
        <ul>
            <li>Business Name: {{ sud.business_name }}</li>
            <li>Email: {{ sud.email_address }}</li>
            <li>Phone: {{ sud.phone_number }}</li>
            <li>
                Address:<br>
                {{ sud.address }}<br>
                {{ sud.state_province }}<br> 
                {{ sud.city }}<br>
                {{ sud.zip_code }}
                {{ sud.country }}<br>
            </li>
            <li>
                Skills:
                {% for skill in sud.skills.all %} 
                <a href="{% url 'directory:skill' skill.id %}" class="badge text-white bg-primary">{{ skill }}</a>
                {% endfor %}
            </li>
            <li>
                Materials:
                {% for material in sud.materials.all %}
                <a href="{% url 'directory:material' material.id %}" class="badge text-white bg-primary">{{ material }}</a>
                {% endfor %}
            </li>
            <li>
                Type of Work:
                {% for type in sud.type_of_work.all %}
                <a href="{% url 'directory:work_type' type.id %}" class="badge text-white bg-primary">{{ type }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock content %}
    