<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>SKID | Skills x Ideas</title>
    {% endblock title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
                
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">SKID</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'directory:directory' %}">Directory</a>
      </div>
      
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'users:profile' user.username %}">{{ user }}</a>
          <li class="nav-link active">|</li>
          <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'account_login' %}">Log in</a>
          <a class="nav-item nav-link" href="{% url 'account_signup' %}">Sign up</a>
        {% endif %}
      </div>
        
    </div>
  </div>
</nav>
<div class="spacer"></div>
{% endblock navbar %}


{% block sidebar %}
  
{% endblock sidebar %}


{% block content %}
    
{% endblock content %}

<!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; Joseph Madsen</p>
  </footer>
</body>
</html>