{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Add Work Types</title>
{% endblock title %}


{% block navbar %}
    
{% endblock navbar %}
    

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-success" type="submit" value="Add">
                <a class="btn btn-secondary btn-sm" onclick="closeWindow()">Return to Profile</a>
            </form>
        </div>

        <div class="col-8">
            <legend class="border-bottom mb-4">Available Work Types:</legend>
            {% for work_type in work_types %}
            <span class="badge rounded-pill text-bg-light">{{ work_type }}</span>            
            {% endfor %} 
        </div>
    </div>
</div>
   
{% endblock content %}
    

{% block footer %}
    
{% endblock footer %}


{% block scripts %}
    <script src="{% static 'js/new_window.js' %}"></script>
{% endblock scripts %}
    
    