{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-3">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-success" type="submit" value="Add">
                <a class="btn btn-secondary btn-sm" href="{% url 'users:profile' user.id %}">Return to Profile</a>
            </form>
        </div>

        <div class="col-9">
            <legend class="border-bottom mb-4">Available Skills:</legend>
            {% for skill in skills %}
            <span class="badge rounded-pill text-bg-light">{{ skill }}</span>            
            {% endfor %} 
        </div>
    </div>
</div>
   
{% endblock content %}
    
