{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
<form action="" method="post">
    {% csrf_token %}
    <legend class="border-bottom mb-4">Account Information:</legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ user_form.username | as_crispy_field }}
            </div>
            <div class="col-md-4 mb-0">
                {{ user_form.email | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ user_form.first_name | as_crispy_field }}
            </div>
            <div class="col-md-4 mb-0">
                {{ user_form.last_name | as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="spacer"></div>

    <legend class="border-bottom mb-4">Profile Information:</legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ profile_form.business_name | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ profile_form.email_public | as_crispy_field }}
            </div>
            <div class="col-md-4 mb-0">
                {{ profile_form.phone_number | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-0">
                {{ profile_form.address | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ profile_form.city | as_crispy_field }}
            </div>
            <div class="col-md-2 mb-0">
                {{ profile_form.state_province | as_crispy_field }}
            </div>
            <div class="col-md-2 mb-0">
                {{ profile_form.zip_code | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-0">
                {{ profile_form.about | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-0">
                {{ profile_form.skills | as_crispy_field }}
                <a class="btn btn-success btn-sm" style="margin-bottom: 10px;" title="Add another skill" onclick="openSkillWindow()">+</a>
            </div>
            <div class="col-md-2 mb-0">
                {{ profile_form.materials| as_crispy_field }}
            </div>
            <div class="col-md-2 mb-2">
                {{ profile_form.type_of_work | as_crispy_field }}
            </div>
        </div>
    </div>
    <input id="id_save_edit" class="btn btn-primary" style="margin-left: 10px;" type="submit" value="Save">
    <a class="btn btn-secondary" href="{% url 'users:profile' user.id %}">Cancel</a>
</form>
</div>

{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/new_window.js' %}"></script>    
{% endblock scripts %}
    
    
