{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-10">

            <legend class="border-bottom mb-4">Account Information:</legend>
                <div>
                    <ul style="list-style-type:none;">
                        <li><strong>Username:</strong> {{ user.username }}</li>
                        <li><strong>First Name:</strong> {{ user.first_name }}</li>
                        <li><strong>Last Name:</strong>  {{ user.last_name }}</li>
                        <li><strong>Account Email:</strong> {{ user.email }}</li>
                    </ul>
                </div>    
            
            <legend class="border-bottom mb-4">Profile Information:</legend>
                <div>
                    <ul style="list-style-type:none;">
                        <li><strong>Business Name:</strong> {{ profile.business_name }}</li>
                        <li><strong>Public Email:</strong> {{ profile.email_public }}</li>
                        <li><strong>Phone:</strong> {{ profile.phone_number }}</li>
                        <li>
                            <strong>Address:</strong><br>
                            {{ profile.address }}<br>
                            {{ profile.state_province }}<br> 
                            {{ profile.city }}<br>
                            {{ profile.zip_code }}
                            {{ profile.country }}<br>
                        </li>
                        <br>
                        <li><strong>About:</strong> {{ profile.about }}</li>
                        <br>
                        <li>
                            <strong>Skills:</strong>
                            {% for skill in profile.skills.all %} 
                            <p class="badge">{{ skill }}</p>
                            {% endfor %}
                        </li>   
                        <li>
                            <strong>Materials:</strong>
                            {% for material in profile.materials.all %}
                            <p class="badge">{{ material }}</p>
                            {% endfor %}
                        </li>
                        <li>
                            <strong>Type of Work:</strong>
                            {% for type in profile.type_of_work.all %}
                            <p class="badge">{{ type }}</p>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-4">
                <div class="sidenav">
                    <a class="nav-link btn btn-secondary" href="{% url 'users:edit_profile' user.username %}">Edit Information</a>
                    <a class="nav-link btn btn-secondary" href="#">Create Idea</a>
                    <a class="nav-link btn btn-secondary" href="#">View Ideas</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}